@import url('https://fonts.googleapis.com/css?family=Poppins');

/* 별은 전체를 의미 - 즉 모든 글꼴에 해당 글씨체 적용*/
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display:flex;
  justify-content:center;
  align-items: center; 
  min-height: 100vh;
  flex-direction: column;
  background: #edf0f3;
}

.first_container,
.second_container,
.third_container,
.fourth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  margin: 10px;
}


.inputbox
{
  position: relative;
  width: 250px;
}
.inputbox input
{
  width: 100%;
  padding: 10px;
  border: 1.5px solid rgba(241, 163, 162, 1);
  background: #edf0f3;
  border-radius: 5px;
  outline: none;
  color: #3b3b3b;
  font-size: 1em;
}

.inputbox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(241, 163, 162, 1);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span
{
  color: #f1a3a2;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #edf0f3;
  border-left: 1px solid #f1a3a2;
  border-right: 1px solid #f1a3a2;
} 

.first_back,
.second_back {
  display: flex;
}

